<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Galactic Builder</title>

    <script>

        function myFunction(x) {
            x.classList.toggle("change");
        }

        function openNav() {
            document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>

</head>

<body onload="setDynamicBackground();">
<script src="/static/BackgroundAnimation.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src='/static/Chart.min.js'></script>
<script type="text/javascript"></script>

<!-- Display the message if there is one -->
{% if dialogMessage != None %}
    <script type="text/javascript">
        alert("{{ dialogMessage }}");
    </script>
{% endif %}

<div id="mainpage">
    <a href=" {{ url_for('home') }} "><h1><b>Galactic Builder</b></h1></a>

    <!--Menu-->
    <div id="menu">
        
            <div align="right" class="row">
                <div class="col-sm-12">
                    <table>
                    <td>
                    <div align="left" class="row">
                    <td>
                    <p>Money: §{{ person.money }}</p>
                    </td>
                    <td>
                    <p>Net Income: §{{ person.netIncome }}</p>
                    </td>
                    <td>
                      <p>Net Worth §{{ person.netWorth }}</p>
                </td>
                    </div>
                        </td>
                        <div class="container" onclick="myFunction(this)" align="right">
                        <td>
                            <div class="row">
                                <div onclick="openNav()" class="col-sm-12">
                                    <div class="bar1"></div>
                                    <div class="bar2"></div>
                                    <div class="bar3"></div>
                                </div>
                            </div>

                        <td>
                            <span style="font-size:30px;cursor:pointer" onclick="openNav()">Menu</span>
                    </table>

                </div>

            </div>


            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href=" {{ url_for('user', name=person.name, page='home') }} ">Home</a>
                    <a href=" {{ url_for('user', name=person.name, page='community') }} ">Community</a>
                    <a href=" {{ url_for('user', name=person.name, page='farms') }} ">Farms</a>
                    <a href=" {{ url_for('user', name=person.name, page='factories') }} ">Factories</a>
                    <a href=" {{ url_for('user', name=person.name, page='mines') }} ">Mines</a>
                    <!--<a href=" {{ url_for('user', name=person.name, page='war') }} ">War</a>-->
                    <a href=" {{ url_for('user', name=person.name, page='shipBuying') }} ">Ship Buying</a>
                    <!--<a href=" {{ url_for('user', name=person.name, page='diplomacy') }} ">Diplomacy</a>-->
                    <a href=" {{ url_for('user', name=person.name, page='species') }} ">Species</a>
                </div>
            </div>
        </div>

    </div>
    <!--Menu Ends-->

    <p>
        <br>
        <br>
    </p>
    {% block content %}{% endblock %}
</div>
</body>
</html>
