<html>
    <head>
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="main.css">
        <title>Galactic Builder</title>
        
    </head>

    <body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src='/static/Chart.min.js'></script>
        <script type="text/javascript"></script>

        <!-- Display the message if there is one -->
        {% if dialogMessage != None %}
        <script type="text/javascript">
            alert("{{ dialogMessage }}");
        </script>
        {% endif %}

        <div id="mainpage">
            <a href=" {{ url_for('home') }} "><h1><b>Galactic Builder</b></h1></a>

            <table id="maininfo">
                <tr>
                    <td><b><a href=" {{ url_for('user', name=username, page='farms') }} "><button class="button">Farms</button></a></b>
                    </td>
                    <td><b><a href=" {{ url_for('user', name=username, page='community') }} "><button class="button">Community</button></a></b>
                    </td>
                    <td><b><a href=" {{ url_for('user', name=username, page='home') }} "><button class="button">Home</button></a></b>
                    </td>
                    <td><b><a href=" {{ url_for('user', name=username, page='factories') }} "><button class="button">Factories</button></a></b>
                    </td>
                    <td><b><a href=" {{ url_for('user', name=username, page='mines') }} "><button class="button">Mines</button></a></b>
                    </td>
					<td><b><a href=" {{ url_for('user', name=username, page='war') }} "><button class="button">War</button></a></b>
                    </td>
                </tr>
            </table>
            <p>
                <br>
                <br>
            </p>
        {% block content %}{% endblock %}
    </body>
</html>