<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finances</title>
</head>
<body>

<h1>Welcome {{ name }}!</h1>


    <form action="/user/{{ name }}/button" method="post">
    <p>You have ${{ money }}</p><input type="submit" name="money1" value="Get more">
    </form>

    <p>Some text.</p>

    <form action="/user/{{ name }}/button" method="post">
    <input type="submit" name="money2" value="Lose all money">
    </form>


<p>You have a net income of ${{ netIncome }}</p>



</body>
</html>