<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finances</title>
</head>
<body>

<h1>Welcome {{ name }}!</h1>

<p>Farm Income: {{ farmIncome }}</p>

<p>Number of farms: {{ numOfFarms }} </p>
<p>Amount produced: {{ amountProduced }}</p>
<p>Farm Level: {{ farmLevel }}</p>

<form action="/user/{{ name }}/button" method="post">
    <input type="submit" name="buyFarm" value="Buy Farms">
</form>

<form action="/user/{{ name }}/button" method="post">
    <input type="submit" name="upgradeFarm" value="Upgrade Farm">
</form>

<p>Farm cost: {{ farmCost }}</p>
<p>Farm Level Cost: {{  farmLevelCost }}</p>
<p>Farm selling value = ${{ farmValue }}</p>

<p>You have a net income of ${{ netIncome }}</p>
<p> And money of {{ money }} </p>


</body>
</html>