{% extends "layout.html" %}
{% block content %}
    <h1>Money</h1>

    <p>The last message was "{{ message }}"</p>

    <form action="calcmessage" method="post">
    Project file path: <input type="text" name="message" value="Enter text"><br>
    <input type="submit" value="Submit">
    </form>

    <p>Or click this button</p>
    <p>It has been pressed {{ number }} times already</p>

    <form action="addone" method="post">
    <input type="submit" name="add1" value="Add One">
    </form>
{% endblock %}