{% extends "base.html" %}
{% block content %}
<iframe src="/static/war/complexDiplomacy.html" width = 95% height = 1000px name="YBframed"></iframe>

<script>

var data = [
{
name:"Joefish",
relations: ["", "green", "", "green", "green", "", "red"],
strength: 100,
},
{
name:"Slang",
relations: [ "green", "", "", "", "", "", ""],
strength: 100,
},
{
name:"Benions",
relations: [ "", "", "", "", "", "", ""],
strength: 100,
},
{
name:"Vexxors",
relations: [ "green", "", "", "", "", "", ""],
strength: 100,
},
{
name:"Vinitipu",
relations: [ "green", "", "", "", "", "", ""],
strength: 100,
},
{
name:"Humans",
relations: [ "", "", "", "", "", "", ""],
strength: 100,
},
{
name:"Gagners",
relations: [ "red", "", "", "", "", "",""],
strength: 100,
}
];
function setUpFrame() { 
    var frame = window.frames['YBframed'];
    frame.startGame(myShips);
}

</script>
{% endblock %}