{% extends "base.html" %}
{% block content %}
<div id="maininfo"><p>
Produce Fighters to sell to Humans or Devices to sell to the average civilian.<br>
Factories are where the real money is made, you buy factories and thouse factories give you money, every time you buy a factory the global factory cost increases so get in there early.</p></div>
<br>
<div id="maininfo">
    <div id="tr" class="row">
        <div id="td" classs="col-sm-12"><b>Factories</b></div>
    </div>
</div>
    <br>
        <p>Total </p>


    <br>
    {% for factory in cost %}
    <div id="maininfo">
    <div id="tr" class="row">
    <div id="td" class="col-sm-3">Factory name: {{ factory }}</div>
    <div id="td" class="col-sm-3">Factory cost: §{{ cost[factory] }} </div>
    <div id="td" class="col-sm-3">Amount produced by yourself: {{ formulas[factory]['produced'] }}</div>
    <div id="td" class="col-sm-3">Amount produced by everyone: {{ totals['factoryCount'][factory] }}</div>
    </div>
    <div class="row">
    <div id="td" class="col-sm-3">Factory count: {{ person.ownedFactories[factory] }}</div>
    <div id="td" class="col-sm-3">Income: §{{ formulas[factory]['income'] }}</div>
    <div id="td" class="col-sm-3">Profit: §{{ formulas[factory]['profit'] }}</div>
    <div id="td" class="col-sm-3"><form action="/user/{{ username }}/button" method="post">
        <input type="submit" name="{{ 'buy' + factory }}" value="Buy factory">
    </form></div>
    </div>
	<div id="tr" class="row">
	<div id="td" class="col-sm-3">Materials You Need To Supply:  </div>
	<div id="td" class="col-sm-3">{{ formulas[factory]['needed'] }}</div>
    <div id="td" class="col-sm-3">Materials That You Currently Supply:</div>
    <div id="td" class="col-sm-3">{{ formulas[factory]['materialsMade'] }}</div>
	</div>
    </div>
	<br>
    {% endfor %}

<p>Factory upgrades go here</p>
<p>picture goes here</p>

{% endblock %}