{% extends "base.html" %}
{% block content %}
<div id="maininfo"><p>
Produce Fighters to sell to Humans or Devices to sell to the average civilian.<br>
Factories are where the real money is made, you buy factories and thouse factories give you money, every time you buy a factory the global factory cost increases so get in there early.</p></div>
<br>
<div id="maininfo">
    <div id="tr" class="row">
        <div id="td" classs="col-sm-12"><b>Factories</b></div>
    </div>
</div>
    <br>
<!--why did i make a branch...-->
<div class="col-sm-2" id="tabs">
    <div id="maininfo" class="sides">
        <div class="vertical-menu">
            {% for factory in factories %}
            <a id="{{ factory }}">{{ factory }}</a><br>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-sm-10" id="tabs">
    {% for factory in factories %}
    <div id="maininfo" class="{{ factory }} centerContent">
        <h3>{{ factory }} Factory</h3>
        <div id="tr" class="row">
            <div id="td" class="col-sm-6">Factory cost</div>
            <div id="td" class="col-sm-6">§{{ factories[factory] }}</div>
        </div>
        <div id="tr" class="row">
            <div id="td" class="col-sm-6">Amount produced by yourself</div>
            <div id="td" class="col-sm-6">{{ dynamicPersonal['factories'][factory]['produced'] }}</div>
        </div>
        <div id="tr" class="row">
            <div id="td" class="col-sm-6">Amount produced by everyone</div>
            <div id="td" class="col-sm-6">{{ totals['factoryCount'][factory] }}</div>
        </div>
        <div id="tr" class="row">
            <div id="td" class="col-sm-6">Factory count</div>
            <div id="td" class="col-sm-6">{{ person.ownedFactories[factory] }}</div>
        </div>
        <div id="tr" class="row">
            <div id="td" class="col-sm-6">Income</div>
            <div id="td" class="col-sm-6">§{{ dynamicPersonal['factories'][factory]['income'] }}</div>
        </div>
        <div id="tr" class="row">
            <div id="td" class="col-sm-6">Profit</div>
            <div id="td" class="col-sm-6">§{{ dynamicPersonal['factories'][factory]['profit'] }}</div>
        </div>
        <div id="tr" class="row">
            <div id="td" class="col-sm-6">Materials You Need To Supply per factory</div>
            <div id="td" class="col-sm-6">{{ values['factoryRecipies'][factory] }}</div>
        </div>
                <form action="/user/{{ person.name }}/button" method="post">
                    <input type="submit" name="{{ 'buy' + factory }}" value="Buy factory">
                </form>
    </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function(){
        $(".centerContent").hide();
        {% for factory in factories %}
        $("#{{ factory }}").click(function(){
            $(".centerContent").hide();
            $(".{{ factory }}").toggle();
        });
        {% endfor %}
    });
</script>
{% endblock %}