{% extends "base.html" %}
{% block content %}
<div class="species"><p>
Feed the people of the galaxy with farms.<br>
Farms are a cheap investment that can give you money over time, the more farms you get the less money they are worth and so you want a balance to give you the most money. I would sugest that you get the farm upgrades first as if you upgrade them when you have lots of farms you might go into the negatives.</p></div>
<br>
<div id="maininfo">
    <div id="tr" class="row">
        <div class="col-sm-12" id="td"><b>Farms</b>
        </div>
    </div>
    <div id="td" class="row">
        <div class="module col-sm-3" id="td">Farm Income: §{{ farmIncome }}</div>
        <div class="module col-sm-3" id="td">Number of farms: {{ numOfFarms }}</div>
        <div class="module col-sm-3" id="td">Farm level: {{ farmLevel }}</div>
        <div class="module col-sm-3" id="td">Farm cost: §{{ farmCost }}</div>
    </div>
    <div id="tr" class="row">
        <div class="module col-sm-4" id="td">Population: {{ population }}</div>
        <div class="module col-sm-4" id="td">Value per farm: §{{ farmValue }}</div>
        <div class="module col-sm-4" id="td">Food Produced: {{ foodProduced }}</div>
    </div>
    <div id="tr" class="row">
        <div class="module col-sm-4" id="td"><form action="/user/{{ username }}/button" method="post">
                <input type="submit" name="buyFarm" value="Buy Farm">
            </form>
        </div>
        <div class="module col-sm-4" id="td">Level cost: {{ farmLevelCost }}</div>
        <div class="module col-sm-4" id="td"><form action="/user/{{ username }}/button" method="post">
                <input type="submit" name="upgradeFarm" value="Upgrade farm level">
            </form>
        </div>
    </div>
</div>
<br><br>
<p>Possibly some graphics down here? Some images? Graphs?</p>
{% endblock %}