{% extends "base.html" %}
{% block content %}
<table id="maininfo">
    <tr>
        <td colspan="12"><b>Farms</b>
        </td>
    </tr>
    <tr>
        <td class="module", colspan="3">Farm Income: ${{ farmIncome }}</td>
        <td class="module", colspan="3">Number of farms: {{ numOfFarms }}</td>
        <td class="module", colspan="3">
            <form action="/user/{{ name }}/button" method="post">
                <input type="submit" name="buyFarm" value="Buy Farm">
            </form>
        </td>
        <td class="module", colspan="3">Farm cost: ${{ farmCost }}</td>
    </tr>
    <tr>
        <td class= "module", colspan="4">Population: {{ population }}</td>
        <td class= "module", colspan="4">Farm Value: {{ farmValue }}</td>
        <td class= "module", colspan="4">Food Produced: {{ foodProduced }}</td>
    </tr>
</table>
{% endblock %}