<html>
<head>
<title>Galactic Builder</title>
<style>
body {
background-color: black; 
}
#mainpage {
background-color:white;
text-align: center;

}
td{
width:200px;
text-align: center;

}
#maininfo {
border:1px solid black;
background-color:#cccccc;
text-align: center;
}
.class{
width:50px;
text-align: center;
}
</style>
</head>
<body>
<div id = "mainpage">
<h1>Galactic Builder</h1>
<table id = "maininfo">
<tr>
<td>Finances</td>
</tr>
<tr>
<td>Money</td>
<td>Net Income</td>
<td>Income</td>
<td>Lossess</td>
<td>Net Worth<td>
</tr>
<tr>
<td>{{ money }}</td>
<td>{{ netIncome }}</td>
<td>{{ income }}</td>
<td>{{ losses }}</td>
<td>{{ netWorth }}<td>
</tr>
<tr>
<td>Farms</td>
</tr>
<tr>
<td class = "module"> income: <!--income of each farm variable is displayed here--></td>
<td class = "module"> <!--resale cost variable is displayed here--></td>
<td class = "module"> <button>-</button></td>
<td class = "module"> <!--Number of farms goes here--> </td>
<td class = "module"> <button>+</button></td>
<td class = "module"> <!--cost of farms goes here--> </td>
</tr>

</table>
</div>


</body>
</html>