{% extends "base.html" %}
{% block content %}
<div id="maininfo">
    <div id="tr" class="row">
        <div id="td" class="col-sm-12"><b>Welcome back {{ person.name }}!</b>
        </div>
    </div>
    </div>
    <br>
    <div id="maininfo">
	<p>Since the game is in Alpha, there will be database resets as we add new features and edit varibles. To give you something to do, we have a challenge for you, your goal is to be the first to get §1 billion dollars. Sorry about that.</p>
</div>
<br>
<div id="maininfo">
    <div id="tr" class="row">
        <div id="td" class="col-sm-12"><b>Finances</b></div>
    </div>
    <div id="tr" class="row">
        <div id="td" class="col-sm-2">Money</div>
        <div id="td" class="col-sm-2">Net Income</div>
        <div id="td" class="col-sm-2">Income</div>
        <div id="td" class="col-sm-2">Expenses</div>
        <div id="td" class="col-sm-2">Net Worth</div>
    </div>
    <div id="tr" class="row">
        <div id="td" class="col-sm-2 module">§{{ person.money }}</div>
        <div id="td" class="col-sm-2 module">§{{ person.netIncome }}</div>
        <div id="td" class="col-sm-2 module">§{{ person.income }}</div>
        <div id="td" class="col-sm-2 module">§{{ person.expenses }}</div>
        <div id="td" class="col-sm-2 module">§{{ person.netWorth }}</div>
    </div>
</div>
    <br>
<div id="maininfo">
	<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"></div>
        <div id="td" class="col-sm-4 module"><b>Income</b></div>
        <div id="td" class="col-sm-4 module"><b>Expenses</b></div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"><b>Mine</b></div>
        <div id="td" class="col-sm-4 module">{{ dynamicPersonal['mineProfitMade'] }}</div>
        <div id="td" class="col-sm-4 module">{{ dynamicPersonal['materialsTotalCost'] }}</div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"><b>Factory</b></div>
        <div id="td" class="col-sm-4 module">{{ dynamicPersonal['totalFacIncome'] }}</div>
        <div id="td" class="col-sm-4 module">//FactoryExpenses//</div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"><b>Farm</b></div>
        <div id="td" class="col-sm-4 module">//FarmIncome//</div>
        <div id="td" class="col-sm-4 module">//FarmExpenses//</div>
    </div>
</div>
<p>
    <br>
    <iframe src="https://discordapp.com/widget?id=303781677635731457&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>
</p>

{% endblock %}
