<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
    body {
/*background-image: url(space_bg.gif)*/
background: linear-gradient(132deg, #ec5218, #1665c1);
background-size: 400% 400%;
animation: BackgroundGradient 30s ease infinite;
}
div {
background-color: azure;
text-align: center;
width: 100%;
}
    </style>
</head>
<body>
<div>
<h1><b>Galactic Builder</b></h1>
<h2>Login Page</h2>
<p><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
    <form action="loginuser" method="post">
        Enter username   <input type="text" name="username" value="Username"><br>
    <input type="submit" value="Submit">
    </form>
	<p><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
</div>
</body>
</html>