<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>Galactic Builder</title>
        <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</head>
<body onload="setDynamicBackground();">

    <!-- Display the message if there is one -->
{% if message != None %}
    <script type="text/javascript">
        alert("{{ message }}");
    </script>
{% endif %}

<div id="id01" class="modal">

  
  <form class="modal-content animate" method="post" action="loginuser">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <label><b>Galactic Builder</b></label>
        <br>
        <br>
      <img src="/static/favicon.ico" alt="Avatar" class="avatar">
    </div>

    <div class="container1">
      
        <br>
      <input type="text" placeholder="Username" name="username" required>

      <input type="password" placeholder="Password" name="password" required>
        
      <button type="submit">Login</button>
    </div>
  </form>
</div>
			<div class="row">
				<div  class="col-sm-3"></div>
				<div id = "maininfo" class="col-sm-6">
						<div id="div">
						<br><br>
						<h1>Galactic Builder</h1>
						<br><br><br>
                            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
                         <br><br><br>
							<p>Version: <b>Alpha 6.2</b></p>

							<p>"The Weed Killer"</p>
						<br>
							<p><b>Can't login?</b></p>
							<p>You will need to pay $1 to activate you account and keep the server running</p>
							<br>
						<p><b>Credits:</b></p>
						<p><b>Backend Genius:</b></p>
						<p>Hamish Fish</p>
						<p>Joefish Ken</p>
						<p><b>Interface developers:</b></p>
						<p>Joefish Ken</p>
						<p>Karl Grabeef</p>
						<br>
						<p><b>Want to Join? Join our Discord Server!</b></p>
							<a href="https://discord.gg/2wbVtVA"><p><b>Discord</b></p></a>
						<br>
							<p><b>Privacy Disclaimer:</b></p>
							<p>Here at Glactic Builder we have a policy of ZERO refunds. What you spend, you spend. Have a nice day.</p>
						<br><br>
					</div>
				</div>
				<div  class="col-sm-3"></div>
			</div>
	<script src="/static/BackgroundAnimation.js"></script>
	</body>
</html>
