{% extends "base.html" %}
{% block content %}
<table id="maininfo">
    <tr>
        <td colspan="12"><b>Mines</b></td>
    </tr>
</table>

    {% for mine in values.mineValues %}
<table id="maininfo" background="/static/minephoto/{{ mine }}.jpg">
    <tr>
        <td class = "module">Mine name: {{ mine }}</td>
        <td class = "module">Mine Value: §{{ values.mineValues[mine] }}</td>
        <td class = "module">Amount produced: {{ dynamicPersonal['minesDict'][mine] }}</td>
        <td class = "module">Mine cost: §{{ minesFunc[mine] }}</td>
    </tr>
    <tr>
        <td class = "module">Number of mines: {{ person.ownedMines[mine] }}</td>
        <td class = "module"><form action="/user/{{ username }}/button" method="post">
                <input type="submit" name="{{ 'buy' + mine }}" value="Buy mine">
            </form></td>
    </tr>
    <br>
    <br>
</table>

    {% endfor %}

{% endblock %}