{% extends "base.html" %}
{% block content %}
<div class="col-sm-2" id="tabs">
		<div id="maininfo" class="sides">
			<div class="vertical-menu">
				<a id="Factory_A_Link">Factory A</a>
				<a id="Factory_B_Link">Factory B</a>
				<a id="Factory_C_Link">Factory C</a>
				<a id="Factory_D_Link">Factory D</a>
				<a id="Factory_E_Link">Factory E</a>
			</div>
		</div>
	</div>
	<div class="col-sm-10" id="tabs">
		<div id="maininfo" class="Factory_A_Content centerContent">
			<h3>Content goes here</h3> 
		</div>
		<div id="maininfo" class="Factory_B_Content centerContent">
			<h3>Content goes here</h3>
		</div>
		<div id="maininfo" class="Factory_C_Content centerContent">
			<h3>Content goes here</h3>
		</div>
		<div id="maininfo" class="Factory_D_Content centerContent">
			<h3>Content goes here</h3>
		</div>
		<div id="maininfo" class="Factory_E_Content centerContent">
			<h3>Content goes here</h3>
		</div>
	</div>
	</div>
		<script>
$(document).ready(function(){
	$(".centerContent").hide();
	$("#Factory_A_Link").click(function(){
		$(".centerContent").hide();
        $(".Factory_A_Content").toggle();
    });
	$("#Factory_B_Link").click(function(){
		$(".centerContent").hide();
        $(".Factory_B_Content").toggle();
    });
	$("#Factory_C_Link").click(function(){
		$(".centerContent").hide();
        $(".Factory_C_Content").toggle();
    });
	$("#Factory_D_Link").click(function(){
		$(".centerContent").hide();
        $(".Factory_D_Content").toggle();
    });
	$("#Factory_E_Link").click(function(){
		$(".centerContent").hide();
        $(".Factory_E_Content").toggle();
    });
});
	</script>
	
{% endblock %}