{% extends "base.html" %}
{% block content %}
<div class="col-sm-2" id="tabs">
		<div id="maininfo" class="sides">
		<br>
		<br>
		<br>
			<button class="button" id="Money">Money</button>
		<br>
		<br>
			<button class="button" id="NetIncome">Net Income</button>
		<br>
		<br>
			<button class="button" id="Income">Income</button>
		<br>
		<br>
			<button class="button" id="Expenses">Expenses</button>
		<br>
		<br>
			<button class="button" id="NetWorth">Net Worth</button>
		<br>
		<br>
		</div>
	</div>
	<div class="col-sm-10" id="tabs">
		<div id="maininfo" class="Money centerContent">
		<h3>Money</h3>
		<div id="tr" class="row">
			<div id="td" class="col-sm-6">Money</div>
			<div id="td" class="col-sm-6 module">§{{ money }}</div>
		</div>
			<!--money stats-->
		</div>
		<div id="maininfo" class="NetIncome centerContent">
		<h3>Net Income</h3>
		<div id="tr" class="row">
		    <div id="td" class="col-sm-6">Net Income</div>
			<div id="td" class="col-sm-2 module">§{{ person.netIncome }}</div>
		</div>
		<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"></div>
        <div id="td" class="col-sm-4 module"><b>Income</b></div>
        <div id="td" class="col-sm-4 module"><b>Expenses</b></div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"><b>Mine</b></div>
        <div id="td" class="col-sm-4 module">//MineIncome//</div>
        <div id="td" class="col-sm-4 module">//MineExpenses//</div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"><b>Factory</b></div>
        <div id="td" class="col-sm-4 module">//FactoryIncome//</div>
        <div id="td" class="col-sm-4 module">//FactoryExpenses//</div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-4 module"><b>Farm</b></div>
        <div id="td" class="col-sm-4 module">//FarmIncome//</div>
        <div id="td" class="col-sm-4 module">//FarmExpenses//</div>
		</div>
			<!--Net income stats-->
		</div>
		<div id="maininfo" class="Income centerContent">
		<h3>Income</h3>
		<div id="tr" class="row">
		<div id="td" class="col-sm-6">Income</div>
		<div id="td" class="col-sm-6 module">§{{ income }}</div>
		</div>
		<div id="tr" class="row">
		<div id="td" class="col-sm-6 module"></div>
        <div id="td" class="col-sm-6 module"><b>Income</b></div>
		</div>
		<div id="tr" class="row">
			<div id="td" class="col-sm-6 module"><b>Mine</b></div>
			<div id="td" class="col-sm-6 module">//MineIncome//</div>
		</div>
		<div id="tr" class="row">
			<div id="td" class="col-sm-6 module"><b>Factory</b></div>
			<div id="td" class="col-sm-6 module">//FactoryIncome//</div>
		</div>
		<div id="tr" class="row">
		<div id="td" class="col-sm-6 module"><b>Farm</b></div>
        <div id="td" class="col-sm-6 module">//FarmIncome//</div>
		</div>
			<!--Income stats-->
		</div>
		<div id="maininfo" class="Expenses centerContent">
		<h3>Expenses</h3>
		<div id="tr" class="row">
        <div id="td" class="col-sm-6 module"></div>
        <div id="td" class="col-sm-6 module"><b>Expenses</b></div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-6 module"><b>Mine</b></div>
        <div id="td" class="col-sm-6 module">//MineExpenses//</div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-6 module"><b>Factory</b></div>
        <div id="td" class="col-sm-6 module">//FactoryExpenses//</div>
    </div>
	<div id="tr" class="row">
        <div id="td" class="col-sm-6 module"><b>Farm</b></div>
        <div id="td" class="col-sm-6 module">//FarmExpenses// test</div>
		</div>
			<!--Expenses stats-->
		</div>
		<div id="maininfo" class="NetWorth centerContent">
		<h3>Net Worth</h3>
		<p>information on how the net worth is generated?</p>
			<!--NetWorth stats-->
		</div>
	</div>
	<!--<div class="col-sm-2" id="tabs">
	<!--can put content here->
	<div class="sides" id="maininfo">
	</div>
	</div>-->
	</div>
	<script>
$(document).ready(function(){
	$(".centerContent").hide();
	$("#Money").click(function(){
		$(".centerContent").hide();
        $(".Money").toggle();
    });
	$("#NetIncome").click(function(){
		$(".centerContent").hide();
        $(".NetIncome").toggle();
    });
	$("#Income").click(function(){
		$(".centerContent").hide();
        $(".Income").toggle();
    });
	$("#Expenses").click(function(){
		$(".centerContent").hide();
        $(".Expenses").toggle();
    });
	$("#NetWorth").click(function(){
		$(".centerContent").hide();
        $(".NetWorth").toggle();
    });
});
	</script>
	
{% endblock %}