{% extends "base.html" %}
{% block content %}

    <div id="maininfo">
		<div>
			<h1>Settings</h1>
		<div>
		<div class="row">
			<div class="sm-col-4">
				<h2>Species</h2>
				<!--species go here-->
			</div>
			<div class="sm-col-4">
				<h2>Advanced Graphic Options</h2>
				<!--
					-put option for high graphic versions of systems(if there is one)
					-increase the speed of the simulation
					-change number of stars in a system
					-remove background and replace with a black screen
				-->
			</div>
			<div class="sm-col-4">
				<h2></h2>
			</div>
		</div>
	</div>

{% endblock %}