{% extends "base.html" %}
{% block content %}

    <div class="maininfo">
		<div>
			<h1>Settings</h1>
		<div>
		<div class="row">
			<div class="sm-col-4">
				<h2>Species</h2>
				<form>
					<input type="radio" name="species" value="human"> Human<br>
					<input type="radio" name="species" value="joefish"> Joefish<br>
					<input type="radio" name="species" value="benion"> Benion<br>
					<input type="radio" name="species" value="slang"> Slang<br>
					<input type="radio" name="species" value="vexxor"> Vexxors<br>
					<input type="radio" name="species" value="gagner"> Gagners<br>
					<input type="radio" name="species" value="vinitipu"> Vinitipii<br>
					<input type="radio" name="species" value="crazious_joyious"> Crazious Joyious<br>
					<input type="radio" name="species" value="goivleono"> Goivleono<br>
					<input type="radio" name="species" value="anz"> Anz
				</form>

			</div>
			<div class="sm-col-4">
				<h2>Advanced Graphic Options</h2>
				<h3>Graphics</h3>
				<form>
					<input type="radio" name="species" value="human"> High<br>
					<input type="radio" name="species" value="joefish"> Medium<br>
					<input type="radio" name="species" value="joefish"> Low<br>
					<input type="radio" name="species" value="joefish"> None
				</form>
				<br>
				<h3>Animation Speed(doesn't affect CPU usage)</h3>
				<form>
					Speed:<br>
					<input type="number" name="speed" value="0">
					<br>
					<br>
					<input type="submit" value="Submit">
				</form>
				<!--
					-put option for high graphic versions of systems(if there is one)
					-increase the speed of the simulation
					-change number of stars in a system
					-remove background and replace with a black screen
				-->
			</div>
			<div class="sm-col-4">
				<h2></h2>
			</div>
		</div>
	</div>

{% endblock %}