{% extends "base.html" %}
{% block content %}
{% for ship in values.shipDesc %}

<table id="maininfo">
<tr>
	<th colspan="4">{{ values.shipDesc[ship]['name'] }}</th>
	</tr>
	
    <tr>
	<th rowspan="2"><!--<img id = "test" src="/static/J10EXS.jpg" width= "53px" height="12px">--></th>
	<td rowspan="2"><p>{{ values.shipDesc[ship]['desc'] }}</p></td>
	<td>Class: {{ values.shipDesc[ship]['class'] }}</td>
	<td>Cost: §{{ values.shipDesc[ship]['cost'] }}</td>
	</tr>
	<tr>
	<td id="td"><form action="/user/{{ username }}/button" method="post">
        <input type="submit" name="{{ 'buy' + ship }}" value="Buy Ship">
    </form></td>
	<td></td>
	</tr>
</table>
{% endfor %}

<br><br>
<p>Possibly some graphics down here? Some images? Graphs?</p>
{% endblock %}
