{% extends "base.html" %}
{% block content %}
		
		<div class="maininfo">
		<br>
		<div id="page1" class="row">
			
			<div class="col-sm-2"><button id= "human" class="button">Human</button></div>
			<div class="col-sm-2"><button id= "joefish" class="button">Joefish</button></div>
			<div class="col-sm-2"><button id= "gagners" class="button">Gagners</button></div>
			<div class="col-sm-2"><button id= "anz" class="button">Anz</button></div>
						<div class="col-sm-2"><button id= "vinitipu" class="button">Vinitipu</button ></div>
						<div class="col-sm-2"><button id= "benion" class="button">Benions</button ></div>
		</div>
		<div id="page2" class="row">
		<div class="col-sm-2"><button id= "slang" class="button">Slang</button ></div>
		<div class="col-sm-2"><button id= "giovleono" class="button">Giovleono</button ></div>
		<div class="col-sm-2"><button id= "vexxors" class="button">Vexxors</button ></div>
		<div class="col-sm-2"><button id= "map" class="button">Map</button></div>
		<div class="col-sm-2"><button id= "galactichistory" class="button">Galactic History</button></div>
		<div class="col-sm-2"><button id= "system" class="button">System Simulator</button></div>
		</div>
		<br>
		<div class="row">
		<div class="col-sm-12"><button id= "next" class="button">Next</button></div>
		</div>
		<br>
		</div>
		
		<br>
		<br>
		<div id="humaninfo" class="species">
		</div>
		<div id="joefishinfo" class="species">
		</div>
		<div id="gagnersinfo" class="species">
		</div>
		<div id="anzinfo" class="species">
		</div>
		<div id="vinitipuinfo" class="species">
		</div>
		<div id="slanginfo" class="species">
		</div>
		<div id="giovleonoinfo" class="species">
		</div>
		<div id="vexxorsinfo" class="species">
		</div>
		<div id="benioninfo" class="species">
		</div>
		<div id="mapinfo" class="species">
		</div>
		<div id="galactichistoryinfo" class="species">
		</div>
		<script>
$(document).ready(function(){
$(".species").hide();
$("#page2").hide();


	$("#next").click(function(){
	$("#page1").toggle();
	$("#page2").toggle();
	
	});

	$("#human").click(function(){
		$(".species").hide();
        $("#humaninfo").show();
		$("#humaninfo").load("/static/specieStuff/humaninfo.txt");
    });
    $("#joefish").click(function(){
		$(".species").hide();
        $("#joefishinfo").show();
		$("#joefishinfo").load("/static/specieStuff/joefishinfo.txt");
    });
	$("#gagners").click(function(){
		$(".species").hide();
        $("#gagnersinfo").show();
		$("#gagnersinfo").load("/static/specieStuff/gagnersinfo.txt");
    });
	$("#benion").click(function(){
		$(".species").hide();
        $("#benioninfo").show();
		$("#benioninfo").load("/static/specieStuff/benioninfo.txt");
    });
	$("#anz").click(function(){
		$(".species").hide();
        $("#anzinfo").show();
		$("#anzinfo").load("/static/specieStuff/anzinfo.txt");
    });
	$("#vinitipu").click(function(){
		$(".species").hide();
        $("#vinitipuinfo").show();
		$("#vinitipuinfo").load("/static/specieStuff/vinitipuinfo.txt");
    });
	$("#slang").click(function(){
		$(".species").hide();
        $("#slanginfo").show();
		$("#slanginfo").load("/static/specieStuff/slanginfo.txt");
    });
	$("#giovleono").click(function(){
		$(".species").hide();
        $("#giovleonoinfo").show();
		$("#giovleonoinfo").load("/static/specieStuff/giovleonoinfo.txt");
    });
    $("#vexxors").click(function(){
		$(".species").hide();
        $("#vexxorsinfo").show();
		$("#vexxorsinfo").load("/static/specieStuff/vexxorsinfo.txt");
    });
	$("#map").click(function(){
		$(".species").hide();
        $("#mapinfo").show();
		$("#mapinfo").load("/static/specieStuff/mapinfo.txt");
    });
	$("#galactichistory").click(function(){
		$(".species").hide();
        $("#galactichistoryinfo").show();
		$("#galactichistoryinfo").load("/static/specieStuff/galactichistoryinfo.txt");
    });
});

</script>
		{% endblock %}